body {
    font-family: Georgia, serif;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.heading {
    margin: 10px;
    text-align: center;
    font-family: 'Redressed', cursive;
    font-size: 50px;
}
